.feed-card {
  margin: 0% 3% 5% 2%;
  padding: 2.5%;
  border: 1px solid black;
  height: fit-content;
  overflow: hidden;
}
.feed-div {
  padding: 2%;
  height: 40vh;
  overflow: scroll;
}
.card-actions-row > button {
  margin-left: auto;
  margin-right: auto;
}
.feed-card .title {
  color: black !important;
}
